<% content_for :title do %>
  URL Shortener
<% end %>
<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
                  :type => "website",
                  :title => "URL Shortener",
                  :url => request.url,
                  :description => "URL Shortener",
                  :canonical => request.url,
                  :og_title => "URL Shortener",
                  :og_description => "URL Shortener"
             } %>
<% end %>

<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui">
        <h2><%= link_to "URL Shortener", root_url, class: 'header item huge' %></h2>
      </div>
      <%= image_tag('cat.png', class: 'ui medium image') %>
      <div class="ui hidden transition information">
        <h1 class="ui inverted header">
          MindValley URL Shortener
        </h1>
        <p>Paste your long URL here:</p>

       <%= render partial: "form" %>

				<% if flash[:notice] %>
					<p style="color:#00b5ad;"><%= flash[:notice] %></p>
				<% end %>

				<% if flash[:alert] %>
					<p style="color:#d95c5c;"><%= flash[:alert] %></p>
				<% end %>

      </div>
    </div>
  </div>
</div>

<% cache "referer-index", skip_digest: true do %>

<div class="ui centered page grid">
	<h3 class="ui horizontal header divider">
    <i class="list layout icon"></i>
    List of Shorten URL
  </h3>
	<div class="sixteen wide column">

		<table class="ui celled table striped">
			<thead>
				<tr>
					<th>Source URL</th>
					<th>Created On</th>
					<th>Shorten URL</th>
					<th class="collapsing">Clicks</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @referers.each do |r| %>
				<tr>
					<td><%= r.url %></td>
					<td><%= r.created_at.strftime("%d %B %Y") %><p style="font-size:11px;color:grey;"><%= time_ago_in_words(r.created_at) + " ago" %></p></td>
					<td><%= r.shorten_url %></td>
					<td><%= r.click %></td>
					<td>
						<div class="ui mini buttons">
							<%= link_to "Visit", r.slug, target: '_blank', class: "ui blue button show-popup",  "data-content" => "#{r.shorten_url}" %>
							<button id="<%= r.slug %>" data-clipboard-text="<%= r.shorten_url %>" type="button" class="ui green button">Copy</button>
						</div>
					</td>
				</tr>

				<!-- Script for Copy to Clipboard start -->
				<script type="text/javascript">
				  var clientText = new ZeroClipboard( $("#<%= r.slug %>"), {
				    moviePath: "/assets/ZeroClipboard.swf",
				    debug: false
					});

					$("#<%= r.slug %>").on("click", function(){
				    alert("Short URL copied to clipboard");
				  });
				</script>
				<!-- Script for Copy to Clipboard end -->

				<% end %>
			</tbody>
		</table>

	</div>
</div>

<% end %>

<div style="background-color:#564f8a;margin:30px 0;padding: 100px;">
	<div class="ui center yellow huge aligned header" style="font-size:68px;"><%= total_url_shorten %></div>
	<div class="ui center large aligned header" style="margin-top:-10px;color:#ffffff;">LINKS SHORTENED WORLDWIDE</div>
</div>

<h2 class="ui center aligned header">
  OSEM BRAND TOOLS
</h2>
<h4 class="ui center aligned header">
	Drive efficiency and performance of your strategy and tactics across all marketing technologies.
</h4>