<div class="ui inverted masthead segment">
  <div class="ui page grid">
    <div class="column">
      <div class="ui inverted blue menu">
        <%= link_to "URL Shortner", root_url, class: 'header item' %>
      </div>
      <%= image_tag('cat.png', class: 'ui medium image') %>
      <div class="ui hidden transition information">
        <h1 class="ui inverted header">
          MindValley URL Shortener
        </h1>
        <p>Paste your long URL here:</p>

       <%= render partial: "form" %>

				<% if flash[:notice] %>
					<p style="color:#00b5ad;"><%= flash[:notice] %></p>
				<% end %>

				<% if flash[:alert] %>
					<p style="color:#d95c5c;"><%= flash[:alert] %></p>
				<% end %>

      </div>
    </div>
  </div>
</div>

<% cache "referer-index", skip_digest: true do %>

<div class="ui centered page grid">
	<div class="sixteen wide column">

		<table class="ui unstackable table celled striped ">
			<thead>
				<tr>
					<th>Source URL</th>
					<th>Created On</th>
					<th>Shorten URL</th>
					<th class="collapsing">Click</th>
					<th class="collapsing">Action</th>
				</tr>
			</thead>
			<tbody>
				<% @referers.each do |r| %>
				<tr>
					<td><%= r.url %></td>
					<td><%= r.created_at.strftime("%d %B %Y") %><p style="font-size:11px;color:grey;"><%= time_ago_in_words(r.created_at) + " ago" %></p></td>
					<td><%= r.shorten_url %></td>
					<td><%= r.click %></td>
					<td><%= link_to "Visit", r.slug, target: '_blank', class: "mini ui teal button show-popup",  "data-content" => "#{r.shorten_url}" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>

<% end %>