<div class="ui grid login-form">
  <div class="five wide column"></div>
  <div class="six wide column">

    <div class="ui attached blue message">
      <div class="header">
        WELCOME BACK TO THE OSEM URL SHORTENER!
      </div>
      <p>Sign in to your account and start sharing</p>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui form attached fluid segment"}) do |f| %>
      <div class="field">
        <%= f.label :login, "Username or Email Address" %>
        <%= f.text_field :login, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <div class="ui checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Remember me for 2 weeks" %>
        </div>
      </div>
      <% end -%>
      <%= f.submit "Sign In", class: "ui blue submit button" %>
    <% end %>
    <div class="ui bottom attached message">
      <%= render "devise/shared/links" %>
    </div>

  </div>
  <div class="five wide column"></div>
</div>