<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="URL Shortener">
  <meta name="keywords" content="shortener,url shortener">
  <meta name="author" content="AmirolAhmad">
  <title><%= (title = yield :title).blank? ? "URL Shortener" : title %></title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= yield :meta_tags %>
  <%= render "analytics" %>
</head>
<body id="<%= body_class %>">

	<%= yield %>

	<%= render partial: "footer" %>

</body>
</html>
